<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Course</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

  <!----Header------>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">NPTEL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>
  <div class="Main">
    <div class="row">
      <!----Side bar------>
      <div class="col-3 " id="sidebar">
        <nav class="nav flex-column">
          <a class="nav-link active" href="/">home</a>
          <a class="nav-link" href="/Computer">Computer</a>
          <a class="nav-link" href="/Maths">Mathematics</a>
          <a class="nav-link" href="/engineering">Engineering</a>
        </nav>

      </div>

      <!---Main content------>
      <div class="col-9">

        <div class="container my-5">

          <div class="row py-5">
            <div class="col-6">
              <strong>Search For : {{ tag}}</strong>
            </div>
            <div class="col-6">
              <form action="" method="post" autocomplete="off">
                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" name="tag" id="tag" placeholder="Enter keyword" />
                  </div>
                  <div class="col-4" align="left">
                    <input type="submit" value="Search" class="form-control btn btn-primary " name="">
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {% block content %}

            {% endblock %}

            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if courses.has_prev %}
                <li class="page-item"> <a class="page-link"
                    href="{{ url_for('index', page=courses.prev_num) }}">Previous</a></li>
                {% else %}
                <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
                {% endif %}

                {% for page in courses.iter_pages(left_edge=3, right_edge=3) %}
                {% if page %}

                {% if page==courses.page %}
                <li class="page-item active"><a class="page-link"
                    href="{{ url_for('index', page=page) }}">{{ page }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('index', page=page) }}">{{ page }}</a></li>
                {% endif %}

                {% else %}
                <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
                {% endif %}
                {% endfor %}

                {% if courses.has_next %}
                <li class="page-item"> <a class="page-link"
                    href="{{ url_for('index', page=courses.next_num) }}">Next</a></li>
                {% else %}
                <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                {% endif %}

              </ul>
            </nav>
          </div>
        </div>

      </div>
      
      <script>
        function checkAll(bx) {
          var cbs = document.getElementsByTagName('input');
          for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].type == 'checkbox') {
              cbs[i].checked = bx.checked;
            }
          }
        }
      </script>
    </div>
  </div>
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright </small>
    </div>
  </footer>


  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  

</body>

</html>