{% extends "base.html" %}

{% block content %}
<section>
   
  {% for d in result %}
  <div class="row ">
    <div class="card my-3 mx-3" style="width: 25rem;">
      <div class="card-body">
          <div class="row py-4">
              <div class="col container">
                  <a href=""><img src="../static/imageuploads/{{d.filename}}" width="50" height="50" alt="..."></a>
              </div>
              <div class="col-md-10 container" style="margin-right: 0%;margin-top: -15%;">
                
                <h5 class="card-title">{{ d.title}}</h5>
                <h6 class="card-subtitle mb-2 ">Instructor:{{ d.instructor}}<br> Category: {{ d.category}}</h6>
                
              </div>
            </div>
        <div class="row">
          <div class="col container">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                <circle cx="8" cy="4.5" r="1"/>
              </svg>
          </div>
          <div class="col-md-10 container">
            <p>{{ d.description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col container">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              </svg>
          </div>
          <div class="col-md-10 container">
            
            <p> {{d.type}} </p>
            <p id ="date">{{ d.startDate}} to {{ d.endDate}}</p>
            
            <p > 9-10 weeks to complete - (2-3 hours each day) </p>
            
          </div>
        </div>
        
      </div>
    </div>
    
  </div>

  {% endfor %}
</section>


{% endblock %}